Source: systemd-inside-docker
Section: admin
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/Like-all/systemd-inside-docker

Package: systemd-inside-docker
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Make it possible to run systemd inside Docker containers
